<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <%= image_tag("logos/s-a-w.png", width: '150px') %>
    </div>
    
    <%= render "shared/nav" %>
    <%= render "shared/alerts" %>

    <%= yield %>

  </body>
</html>
